* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: #555;
  font-family: 'Lato', 'Arial', sans-serif;
  font-size: 62.5%;
  font-weight: 300;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

.secondary__heading {
    font-size: 4rem;
    font-weight: 300;
    padding-bottom: 3rem;
    border-bottom: 2px solid aqua;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 4.5rem;
    color: #5f5f5f;
}
/* -------------------------------------------------------- */
    /* HEADER */
/* -------------------------------------------------------- */
h1 {
  color: white;
  font-size: 5rem;
  font-weight: 300;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.755), rgba(0, 0, 0, 0.755)),url(../../resources/assets/images/hero-img-min.jpg);
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(12, 1fr);
}
.hero-nav{
  grid-row: 1 /2;
  grid-column: 5 / 12;
}
.hero-box-text {
  grid-row: 6/7;
  grid-column: 3/11;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  line-height: 1.75;
  font-weight: 100;
}

.strobe-off {
  display: none;
}



/*   MAIN NAV   */
.main-nav {
  display: flex;
  justify-content: flex-end;
}
.main-nav li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 40px;
}

.main-nav li a:link, 
.main-nav li a:visited {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 300;
  padding: 8px 0;
  border-bottom: 2px solid transparent;
  transition: border-bottom 0.3s;
  text-align: center;
}

.main-nav li a:hover, 
.main-nav li a:active {
  border-bottom: 2px solid #0c755e;
}

/* STICKY NAV */

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.99);
  display: flex;
  justify-content: flex-end;
  box-shadow: 0 2px 2px rgba(136, 136, 136, .4);
  z-index: 100;
}
.sticky .main-nav li a:link, 
.sticky .main-nav li a:visited {
  color: #555;
  padding: 8px 10px;
}
.sticky .main-nav li {
  margin: 20px 10px;
  margin-right: 40px;
}
@media only screen and (max-width:480px) {
  .sticky  {
    justify-content: stretch;
  }
  .footer__wrapper {
    justify-content: stretch;
  }
  .footer-nav li {
    margin-right: 1rem !important; 
  }
  header {
    background-size: cover;
  }
}
.hero-box-text {
  color: #fff;
  font-size: 5rem;
  font-weight: 300;
  line-height: 6rem;
  text-transform: uppercase;
  letter-spacing: .1rem;
  margin-bottom: 2rem;
}
.hero-box__btn:link, .hero-box__btn:visited {
  align-self: center;
  text-decoration: none;
  color: aqua;
  font-size: 2rem;
  text-transform: uppercase;
  padding: .95rem 3.5rem;
  margin-top: 4rem;
  border: 1px solid aqua;
  border-radius: 30rem;
  transition: all .3s;
}
.hero-box__btn:hover, .hero-box__btn:active {
  color: rgba(0, 255, 255, 0.469);
  border: 1px solid rgba(0, 255, 255, 0.469);
  border-radius: 30rem;
  transform: scale(1.05);
}
 /* HEADER MEDIA QUERIES */
@media only screen and (max-width: 1199px) {
  .hero-box-text {
    grid-column: 2/12;
  }
  .hero-box-text h1 {
    font-size: 4.2rem;
  }
  .main-nav li a:link, 
  .main-nav li a:visited {
    font-size: 1.8rem;
  }
}
@media only screen and (max-width: 750px) {
  .hero-box-text {
    padding: 0 2%;
  }
  .hero-box-text h1 {
    font-size: 3.5rem;
  }
  .main-nav li a:link, 
  .main-nav li a:visited {
    font-size: 1.6rem;
  }
  .main-nav li{
    margin-left: 15px;
  }
  .hero-box__btn:link, .hero-box__btn:visited {
    font-size: 1.5rem;
    padding: .7rem 3.7rem;
    margin-top: 3rem;
  }
}
@media only screen and (max-width: 500px) {
  .hero-box-text h1 {
    font-size: 2.2rem;
  }
  .main-nav li a:link, 
  .main-nav li a:visited {
    font-size: 1.5rem;
    padding: 2px 0;
  }
}


/* -------------------------------------------------------- */
    /* ABOUT */
/* -------------------------------------------------------- */
.about__section {
  margin: 0 auto;
  width: 80vw;
}
.about {
  display: grid;
  grid-template-columns: repeat(12,1fr);
  grid-template-rows: repeat(3,1fr);
  padding: 8rem 0;
}

.about__heading {
  font-size: 4.5rem;
  font-weight: 300;
  padding-bottom: 3rem;
  border-bottom: 2px solid aqua;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 4.5rem;
  color: #555;
  grid-column: 6/8;
}

.about__blurb {
  grid-column: 4/10;
  grid-row: 2/10;
  font-size: 2.2rem;
  font-weight: 300;
  line-height: 1.75;
  text-align: justify;
}

@media only screen and (max-width: 1050px) {
  
  .about-section {
    margin: none;
  }
  .about__blurb {
    grid-column: 1 / -1;
  }
}

@media only screen and (max-width: 750px) {
  .about {
    grid-template-rows: 1fr 2fr 2fr;
    padding-bottom: 0;
  }
  .about__heading {
    padding-bottom: 0;
    font-size: 3.5rem;
    margin: 0 auto;
    margin-bottom: 6.5rem;
    color: #555;
    grid-column: 6/8;
  }
}
/* ABOUT BENEFITS */
.about__benefits {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(255px, 1fr));
  margin-bottom: 12rem;
 }

 .about__benefits--item {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    margin: 4rem;
 }
 
 .about__benefits--heading {
     margin-top: 2rem;
     font-size: 1.8rem;
     text-transform: uppercase;
     color: #5f5f5f;
     text-align: center;
     padding-bottom: 1.7rem;
 }

 .about__benefits__blurb {
     font-size: 1.8rem;
     line-height: 1.7;
     text-align: center;
 }
 
 .about__benefits--icon {
     font-size: 5.5rem;
     color: aqua;
     text-align: center;
     padding-bottom: 1.5rem;
 }


 @media only screen and (max-width: 850px) {
   .about {
     grid-template-rows: 1fr 3fr;
     padding-bottom: 0;
   }
  .about__benefits {
    padding-top: 0;
    flex-direction: column;
  }
  .about__benefits--item {
    margin: 2rem;
    height: auto;
  }
  .about__benefits--item:last-child {
    margin-bottom: 0;
  }
  .about__benefits--heading {
    margin: auto 0;
    padding-bottom: 1rem;
  }
  .about__benefits__blurb {
    justify-self: flex-end;
    padding-bottom: 1rem;
  }
}

@media only screen and (max-width: 470px) {
  
  .about__heading {
    grid-column: 4/10;
  }
  .about__blurb {
    font-size: 1.8rem;
  }
  .about__benefits {
    margin-bottom: 2.5rem;
  }
}

/* -------------------------------------------------------- */
    /* SKILLS */
/* -------------------------------------------------------- */

 .section__skills {
  background-color: #F7F7F7;
  padding: 6rem;
}

.section__skills--heading {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 8rem;
  height: 100%;
}
.section__skills--blurb {
  text-align: center;
  font-size: 1.9rem;
  color: #5f5f5f;
}
.section__skills--main-list {
  display: flex;
  justify-content: space-around;
  width: 60%;
  margin: 0 auto;
  padding-top:5rem;
}

.section__skills--list {
  list-style: none;
}

.section__skills--item {
  font-size: 2.2rem;
  line-height: 260%;
  text-transform: uppercase;
  font-weight: 300;
}

.skills--icon {
  color: rgb(11, 179, 179);
  margin-right: 1.8rem;
  font-size: 3.5rem;
}

@media only screen and (max-width: 1050px) {
  .section__skills--main-list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section__skills--list {
    width: 100%;
  }
  .section__skills--item {
    text-align: center;
  }
}

@media only screen and (max-width: 470px) {
  
  .section__skills {
    padding: 3rem;
  }
  .section__skills--main-list {
    margin: 0;
    width: 100%;
  }
  .section__skills--list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

/* -------------------------------------------------------- */
    /* Projects */
/* -------------------------------------------------------- */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem;
  margin: 0 auto;
}


.projects__list {
  display: flex;
  width: 100%;
  justify-content: center;
}

.projects__list--item {
  margin: .5vw;
  background-color: yellow;
  padding: 1.5vw;
  height: 1.5vw;
}
/* -------------------------------------------------------- */
    /* FOOTER */
/* -------------------------------------------------------- */

footer {
	background-color: #333;
	padding: 4.6rem;
}
.footer__wrapper {
    display: flex;
    justify-content: center;
    font-size: 1.9rem;
}
.footer-nav {
    list-style: none;
    padding-bottom: 1.5rem;
}


.footer-nav li {
	display: inline-block;
	margin-right: 2rem;
}

.footer-nav li:last-child{
	margin-right: 0px;
}

.footer-nav li a:link, 
.footer-nav li a:visited {
	text-decoration: none;
	border: 0;
	color: #888;
	-webkit-transition: color 0.3s;
	-o-transition: color 0.3s;
	transition: color 0.3s;
}

.footer-nav li a:hover,
.footer-nav li a:active {
	color: white;
}


footer p {
	color: #888;
	text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
}